In [1]:
import pandas as pd
df = pd.read_csv('final_data.csv')
df

    Column1   Column2   Column3
0  0.764530  0.420140  0.018869
1  0.903569  0.783704  0.958217
2  0.871315  0.476146  0.593636
3  0.773253  0.499678  0.142176
4  0.472710  0.254270  0.951338

In [2]:
df['new'] = df['Column1']*2

In [3]:
df.to_csv('will_final_data.csv')